version: "3"

services:
  phpfpm:
    image: modestcoders/php:7.1-fpm-1
    volumes: &appvolumes
      - ../.composer:/var/www/.composer
      - sockdata:/sock
      - ./config/dockergento/nginx/conf/default.conf:/var/www/conf/nginx/default.conf
      - ./dbdumps:/var/www/dbdumps
    environment:
      PHP_IDE_CONFIG: serverName=localhost
    depends_on:   
      - db

  nginx:
    image: modestcoders/nginx:1.13
    ports:
      - 80:8000
    volumes: *appvolumes
    depends_on:
      - phpfpm
      - redis

  db:
    image: mysql:5.7
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql

  node:
    image: modestcoders/node-php:node8-php7.1
    ports:
      - 35729:35729
    volumes: *appvolumes
    depends_on:
      - phpfpm

  redis:
    image: redis

volumes:
  dbdata:
  sockdata:
